body {
    background:#eeeeee;
}

.page {
    display: grid;
    place-items: center;
    background:#eeeeee;
    padding-top: 10px;
    margin-top: 0;
}

.search-results {
    z-index: 100;
}

.result {
    border-radius: 10px;
    margin: 10px;
    width: 80%;
    color: #31558a;
    display: block;
    height: 80px;
    padding: 15px 32px 5px 16px;
    background: #cbcbcb;
    box-sizing: border-box;
}

.result:hover {
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: #eeeeee;
}

.result > .img {
    width: 54px;
    height: 54px;
    margin-right: 15px;
    float: left;
}

.result > .img > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.result > .info {
    float: left;
    padding: 5px 0;
}

.result > .info > .top {
    font-size: 1rem;
    line-height: 20px;
}

.result > .info > .bottom {
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 4px;
}

.result > .info > .bottom .dot {
    display: inline-block;
}