.page {
    place-items: center;
    margin-top: 0;
}

.search-results {
    position: absolute;
    background: #151619;
    z-index: 100;
    height: 100%;
    width: calc(100% - 260px);
    text-align: center;
    overflow: auto;
    opacity: 0.95;
}

.tracklist {
    width: 100%;
    text-align: center;
}

.hidden {
    height: 0;
    opacity: 0;
}

.result {
    border-radius: 10px;
    margin: 5px 10px;
    width: 80%;
    color: white;
    display: inline-block;
    height: 80px;
    padding: 15px 32px 5px 16px;
    background: #444857;
    transition: background 0.25s ease-out;
    box-sizing: border-box;
    cursor: pointer;
}

.result:hover {
    background-color: #47cf73;
    color: #151619;
}

.result > .img {
    width: 54px;
    height: 54px;
    margin-right: 15px;
    float: left;
}

.result > .img > img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.result > .info {
    float: left;
    padding: 5px 0;
    text-align: left;
}

.result > .info > .top {
    font-size: 1rem;
    line-height: 20px;
}

.result > .info > .bottom {
    font-size: 0.75rem;
    line-height: 20px;
    margin-top: 4px;
}

.result > .info > .bottom .dot {
    display: inline-block;
}