.playbtn{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  margin-left: 5px;

  text-align: center;
  padding: 8px;
  /* padding-left: 10px; */
  background-color: #951518;
  border-radius: 100%;
  cursor: pointer;
}

.playbtn.disabled{
  background-color: #764848;
  color: #959595;
  cursor: not-allowed;
}

.playbtn > .icon{
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.likebtn{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  margin-left: 5px;

  text-align: center;
  padding: 8px;
  /* padding-left: 10px; */
  /* background-color: #951518; */
  border-radius: 100%;
  cursor: pointer;
}

.likebtn > .icon{
  width: 100%;
  height: 100%;
  vertical-align: top;
}