.playbtn{
  background-color: #47cf73;
}

.btn{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;

  text-align: center;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.btn > .icon{
  width: 100%;
  height: 100%;
  vertical-align: top;
  margin: 0;
}