.musicli{
    width: 100%;
    color: white;
    display: inline-block;
    height: 64px;
    padding: 5px 16px 5px 16px;
    background-color: #444857;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: left;
}

@media (max-width: 768px) {
    .musicli{
        height: 100px;

    }

    .musicli > .img{
        width: 92px!important;
        height: 92px!important;
    }
    
}



.musicli > .img{
    width: 54px;
    height: 54px;
    margin-right: 15px;
    float: left;
}

.musicli > .img > img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.musicli > .info{
    float: left;
    padding: 5px 0;
    width: calc(100% - 200px);
}

.musicli > .info > .top{
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.musicli > .info > .bottom{
    font-size: 12px;
    line-height: 20px;
    margin-top: 4px;
}

.musicli > .info > .bottom .dot{
    display: inline-block;
    margin: 0 5px;
}

.musicli > .control{
    float: right;
    padding-top: 6px;
}
