.input-field {
    height: 35px;
    color: #31558a;
    width: 90%;
    padding: 0 5px;
    border: none;
    font-size: 1.5rem;
    outline: 0;
    background: transparent;
    box-shadow:none;
}

.input-field::placeholder {
    color: #1e3bb3;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 5px 15px 5px 10px;
}

.form-wrapper {
    width: 100%;
    display: flex;
    padding: 5px;
}