.input-field {
    height: 35px;
    color: white;
    width: 90%;
    padding: 0 5px;
    border: none;
    font-size: 1.5rem;
    outline: 0;
    background: transparent;
    box-shadow:none;
}

.input-field::placeholder {
    color: #aaaaaa;
}

.search_icon {
    width: 30px;
    height: 30px;
    margin: 5px 15px 5px 10px;
    color: white;
    position: relative;
}

.form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search_layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .search_layout{
        padding-left: 60px;
    }
    
}
