.layout {
    display: inline-block;
    background: #1f2127;
    color: white;
    height: 2rem;
    width: calc(100% - 48px);
    margin-top: 0.5rem;
    margin-left: 24px;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 0.5rem;
}

.layout_selected {
    background-color: #444857;
    color: white;
}

.layout:hover {
    background-color: #47cf73;
    color: #2d313a;
}

.layout_selected:hover {
    background-color: #444857;
    color: white;
}

.icon {
    height: 24px;
    width: 24px;
    horiz-align: left;
    vertical-align: middle;
    margin: 5px 15px 5px 10px;
}

.icon_selected {
    height: 24px;
    width: 24px;
    horiz-align: left;
    vertical-align: middle;
    margin: 5px 15px 5px 10px;
    color: white;
}

.text_selected{
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}


.item {
    display: inline;
    height: 100%;
    width: auto;
    align-content: center;
    vertical-align: middle;
}


.text {
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
