.side_bar_icon_layout {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(https://source.unsplash.com/512x352/?concert) no-repeat center;
    background-size: cover;
    height: 176px;
    width: 100%;
    top: 0;
    display: block;
    position: relative;
    margin-bottom: 24px;

}



.img {
    width: auto;
    height: auto;
    display: block;
    vertical-align: top;
    horiz-align: left;
}
.img > .side_bar_icon{
    height: 65px;
    width: auto;
    background: gray;
    margin-top: 16px;
    margin-left: 16px;
    border-radius: 100%;
}

.user_info {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 16px;
    margin-bottom: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.user_info > .user_name{
    font-size: 16px;
    color: white;
    vertical-align: center;

}





